# Data Collection Using Twitter API

In [1]:
import os
import tweepy as tw
import pandas as pd

In [2]:
#Variables that contains the user credentials to access Twitter API
consumer_key = 'consumer_key'
consumer_secret = 'consumer_secret_key'
access_token = 'acess_token'
access_token_secret = 'acess_token_secret_key'

In [3]:
# OAuth 1a(application-user) authentication
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit = True)

## Pulling tweets and user information

In [71]:
search_words = "#climatechange"
max_tweets = 1000000

In [72]:
# Query 
tweets = tw.Cursor(api.search,
                  q = search_words,
                  lang = "en",
                  tweet_mode = 'extended').items(max_tweets)

In [73]:
# Fields to retrieve
tweet_list = [[tweet.user.id_str, tweet.user.screen_name,
               tweet._json['retweeted_status']['full_text'] if 'retweeted_status' in tweet._json else tweet.full_text, 
              ] for tweet in tweets]

In [75]:
# Store them into dataframe
tweet_df = pd.DataFrame(tweet_list, columns = ['ID', 'Name', 'Tweet'])

In [76]:
tweet_df

,ID,Name,Tweet
0,18257804,stateless,"we‚Äôre pretty lucky, all things considered, whe..."
1,1246325069841723392,TsaiJilly,#UN75 survey found that respondents in all reg...
2,1248988647812222978,Beatric54184322,"All hat, no policy #climatechange #insiders ht..."
3,240072798,LugubriousLarry,Two great stories on #Maine this weekend: firs...
4,1124447266205503488,All435Reps,The evidence is right in front of us. Temperat...
...,...,...,...
67401,1329260903527718913,Jillian18277886,"Once we get through #COVID, let's not forget w..."
67402,19435213,wildweatherdan,"At the end of the last Ice Age, people changed..."
67403,1401488848635502592,AnonWatchers,"Coral #reefs ,rainforest of the ocean\nüê†\n#cli..."
67404,18027211,dennissweatt,"What is #climatechange? \n\nWets are wetter, d..."
67405,854746382254706688,350Deschutes,Dirty unethical #oil lobby is killing s with i...

In [70]:
tweet_df.Tweet[6]

'How does #energyefficiency tie into #climatechange, #climatejustice, &amp; #cleanenergy? COO @vumilio shares his thoughts. \n\nWatch the full @cantvchicago episode abt #EnergyEfficiency &amp; Summer Readiness: https://t.co/jB2LKPlcVo https://t.co/a3yVZT1npN'

In [77]:
tweet_df.to_csv('Data/tweets_climate_change.csv', index = False)

In [78]:
# Finding active users
tweet_df[tweet_df.duplicated(subset = 'ID')]

,ID,Name,Tweet
9,1729193269,JFSebastian146,#climatechange #drought #water #farming #foodp...
18,1729193269,JFSebastian146,"Please read, sign and share: #ClimateChange ne..."
23,1729193269,JFSebastian146,Covers all the bases.... this is where we are ...
24,1729193269,JFSebastian146,30 minutes later and the buildings are gone. M...
28,1729193269,JFSebastian146,Another great starter pack for those wanting t...
...,...,...,...
67396,1293510025680478208,jane__eden,The peeps who think baby steps are the best wa...
67397,1293510025680478208,jane__eden,This breaks my heart! üíîShare this with everyon...
67398,244268112,Flyspinner,This breaks my heart! üíîShare this with everyon...
67400,707688664084647937,semodu_pr,"If the #sea level rises, the #WaddenSea will d..."
67404,18027211,dennissweatt,"What is #climatechange? \n\nWets are wetter, d..."

### For More User Information

In [20]:
# Truncated tweets
## Fields to retrieve
tweet_lst = [[tweet.user.id_str, tweet.user.screen_name, 
              tweet.user.location, tweet.user.verified, 
              tweet.user.followers_count,tweet.user.friends_count,
              tweet.user.statuses_count, tweet.user.created_at,
              tweet.full_text] for tweet in tweets]

## Store them into dataframe
tweet_df = pd.DataFrame(tweet_lst, 
                        columns = ['ID', 'Name', 'Location',
                                   'Verified','Followers', 'Friends',
                                  'Total_tweets','Created_at', 'Text'])